@{
    // Chỉ định trang này sử dụng Layout bảo mật có Menu bên trái
    Layout = "_SecureLayout";
}

<div class="section">
    <div class="row">
        <div class="col s12 m4" style="height: 500px;">
            <div class="card-panel">
                <span class="blue-text text-darken-2">
                    Content Page will be displayed here.
                </span>
                <p>Chào mừng bạn đến với hệ thống quản trị Automobile Service Center!</p>
            </div>
        </div>
    </div>
</div>