@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_MasterLayout";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">@ViewData["Title"]</span>
                    <p>Enter your email address and we'll send you a link to reset your password.</p>
                    
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="red-text"></div>
                        
                        <div class="input-field">
                            <input asp-for="Input.Email" type="email" id="email" class="validate" />
                            <label for="email">Email</label>
                            <span asp-validation-for="Input.Email" class="red-text"></span>
                        </div>

                        <button type="submit" class="btn blue-grey waves-effect waves-light">
                            Reset Password
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
                <div class="card-action">
                    <a asp-page="./Login" class="blue-grey-text">Back to Login</a>
                    <a asp-page="./Register" class="blue-grey-text">Register as a new user</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
